In [1]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

### Questions:
- What is the highest amount of netflix consumption? 17.535
- How many people wear glasses? What percentage of people is this? 2555, .511
- How many people's favorite animal is a dog? 1002
- What is the most common favorite animal? lemur
- What is the average netflix consumption for people that prefer brussel sprouts? 10.008
- What is the most common favorite fruit for people who wear glasses and have more than 40 open browser tabs? blueberries

In [2]:
df.head()

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
1,panda,potato,apple,yes,11.801073,10
2,cat,squash,blueberries,yes,10.105141,35
3,lemur,squash,apple,no,11.024605,70
4,dog,brussel sprouts,apple,yes,6.732698,73

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
netflix_consumption,5000.0,9.962152,2.018416,2.130308,8.570916,9.950686,11.348473,17.534819
open_browser_tabs,5000.0,45.949800,25.380199,2.000000,25.000000,46.000000,68.000000,89.000000

In [6]:
values = pd.DataFrame(df.value_counts())
values

                                                                                                       0
favorite_animal favorite_vegetable favorite_fruit wears_glasses netflix_consumption open_browser_tabs
cat             brussel sprouts    apple          no            5.313429            31                 1
lemur           potato             apple          no            9.482899            45                 1
                                                                10.125414           88                 1
                                                                10.094217           43                 1
                                                                10.029419           68                 1
...                                                                                                   ..
dog             squash             apple          no            9.087577            24                 1
                                                                9.077656            63                 1
                                                                8.963177            67                 1
                                                                8.927040            75                 1
panda           squash             blueberries    yes           13.080512           62                 1

[5000 rows x 1 columns]

In [7]:
df.wears_glasses.value_counts()

yes    2555
no     2445
Name: wears_glasses, dtype: int64

In [8]:
df.wears_glasses.value_counts(normalize=True)

yes    0.511
no     0.489
Name: wears_glasses, dtype: float64

In [9]:
(df['favorite_animal']=='dog').sum()

1002

In [10]:
df.favorite_animal.mode()

0    lemur
Name: favorite_animal, dtype: object

In [12]:
df.netflix_consumption[df['favorite_vegetable']=='brussel sprouts'].mean()

10.00847154798366

In [13]:
df.favorite_fruit[(df['wears_glasses']=='yes') & (df['open_browser_tabs']>40)].mode()

0    blueberries
Name: favorite_fruit, dtype: object